<div class="noteCard">
    <h2>{{link.title}}</h2>
    <input id="titleinput" name="title">
    <textarea name="body" id="bodyinput" cols="30" rows="10"></textarea>
    <button data-id="{{link.id}}" id="savenote">Save Note</button>
</div>