<h1>Why does Javascript not work on this page?</h1>
<h2>peruse</h2>
{{>nav/back}}
<div class="grid2">
    <iframe class="left" src={{link}}></iframe>
    <div class="right">
        {{>partial/note}}
    </div>
</div>