<h2 class="peruse">Peruse the article and leave a note</h2>
<h1 id="dataNote"></h1>
{{>nav/back}}
<div class="grid2">
    <iframe class="left" src={{link.link}}></iframe>
    <div class="right">
        {{>partial/noteInput}}
    </div>
</div>